<p id="notice"><%= notice %></p>

<h4>Módulos do Sistema</h4>

<% @mods.each do |mod|%>
  <div class="row item"><div class="col m2">THUMB</div><div class="col m10">Nome<br>descrição</div><div class="col m1">action</div></div>
<% end %>
