<!-- Modal Structure -->
  <div id="modal1" class="modal insideModal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <%= render 'form', mod: @mod %>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
          


