@mixin gradient($colorA, $colorB){
  background: $colorA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $colorA, $colorB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $colorA, $colorB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin gradient3($colorA, $colorB, $colorC){
  background: $colorA; 
  background: -webkit-linear-gradient(to right, $colorA, $colorB, $colorC); 
  background: linear-gradient(to right, $colorA, $colorB, $colorC); 
}