<nav class="cd-side-nav">
			<ul>
				<li class="cd-label"><i class="material-icons">settings</i> Administrador</li>
				<li class="has-children">
					<a href="#0"><i class="material-icons">people_outline</i> Usuários</a>							
				</li>
				<li class="has-children">
					<a href="#0"><i class="material-icons">whatshot</i> Planos</a>	
				</li>
				<li class="has-children">
					<a href="#0"><i class="material-icons">menu</i> Módulos</a>
				</li>
				<li class="has-children">
					<a href="#0"><i class="material-icons">flag</i> Denúncias</a>
				</li>
				<li class="has-children">
					<a href="#"><i class="material-icons">business</i> Estúdios </a>		
				</li>
			</ul>
			<ul>
				<li class="cd-label">Agenda</li>
				<li class="has-children">
					<a href="#0"><i class="material-icons">event</i> Reservas</a>
					
					<ul>
						<li><a href="#0">All Data</a></li>
						<li><a href="#0">Category 1</a></li>
						<li><a href="#0">Category 2</a></li>
					</ul>
				</li>
				<li class="has-children active">
					<a href="#0"><i class="material-icons">announcement</i> Avisos<span class="count">3</span></a>
				</li>

				<li class="has-children">
					<a href="#0"><i class="material-icons">message</i> Mensagens</a>
					
					<ul>
						<li><a href="#0">All Comments</a></li>
						<li><a href="#0">Edit Comment</a></li>
						<li><a href="#0">Delete Comment</a></li>
					</ul>
				</li>
			</ul>
			
			<ul>
				<li class="cd-label">Financeiro</li>
				<li class="has-children">
					<a href="#0"> <i class="material-icons">payment</i> Pagamentos</a>
				</li>
				<li class="has-children">
					<a href="#0"> <i class="material-icons">attach_money</i> Saldo</a>
				</li>				
			</ul>

			<ul>
				<li class="cd-label">Proprietário</li>
				<li class="has-children">
					<a href="#0"><i class="material-icons">dashboard</i> Painel</a>
				</li>
				<li class="has-children">
					<a href="#0"><i class="material-icons">local_offer</i> Promoções</a>
				</li>
				<li class="has-children">
					<a href="#0"><i class="material-icons">room</i> Salas</a>
					
					<ul>
						<li><a href="#0">Salas</a></li>
						<li><a href="#0">Equipamentos</a></li>
						<li><a href="#0">Pagamentos</a></li>
					</ul>
				</li>
				<li class="has-children">
					<a href="#0"><i class="material-icons">mic</i> Equipamentos</a>				
				</li>		
				<li class="has-children">
					<a href="#0"><i class="material-icons">people_outline</i> Funcionários</a>
				</li>
				<li class="has-children">
					<a href="#0"><i class="material-icons">settings</i> Funcionamento </a>
				</li>
				<li class="has-children">
					<a href="#0"><i class="fa fa-table"></i> Gastos</a>
				</li>
				<li class="has-children">
					<a href="#0"><i class="material-icons">assessment</i> Relatórios</a>
				</li>		
			</ul>

			<ul>
				<li class="cd-label">Músico</li>
				<li class="has-children">
					<a href="#0"><i class="material-icons">favorite_border</i> Favoritos</a>
				</li>
				<li class="has-children">
					<a href="#0"><i class="fa fa-users"></i> Minhas Bandas</a>
				</li>
				<li class="has-children">
					<a href="#0"><i class="material-icons">trending_up</i> Reputação</a>
				</li>						
			</ul>

			<ul>
				<li class="cd-label">Fuzz App.</li>
				<li class="has-children">
					<a href="#0"><i class="material-icons">whatshot</i> Atualizar Plano</a>					
					
				</li>
				<li class="has-children">
					<a href="#0"><i class="material-icons">star_border</i> Avalie</a>				
				</li>
				
			</ul>

		</nav>