<%= render 'layouts/header' %>
<body>
  <%= render 'layouts/navbar' %>   
  <div class="container">
    <!-- Page Content goes here -->
    <%= render 'layouts/sidebar' %>
    <%= yield %>
  </div>





