<%= render 'layouts/header' %>
<body>
  <%= render 'layouts/navbar_landing' %>
  <section class="banner" id="landing">
  	<h1>Texto sobre a apliacação</h1>
	<p>Conteudo conteudo conteudo conteudo conteudo conteudo conteudo conteudo conteudo conteudo</p>
	<p><%= link_to root_path, class: 'btn btn-large waves-effect waves-light magenta' do %><i class="material-icons left">search</i> Buscar Estúdios<% end %></p>
  </section>
  <div class="container">
    <%= yield %>
  </div>
  
  <div class="action-float bottom-right">
    <!-- Dropdown Trigger -->
    <a class='dropdown-button btn btn-fixed-action btn-large btn-dropdown-size white capitalize' href='#' data-activates='dropdown1'><i class="material-icons float-icon">favorite_border</i><span>(4) Gostei</span></a>
  
  </div>
   <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
      <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
      <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
    </ul>



