<%= render 'layouts/header' %>
<nav class="transparent">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><%= render 'layouts/logo' %></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/pages/how-to">Como funciona</a></li>
      <li><a href="/pages/accounts">Contas</a></li>
      <li><a href="/pages/terms">Termos de Uso</a></li>
    </ul>
  </div>
</nav>

<body class="gradient-primary">
	<div class="container">
		<%= yield %>
	</div>
</body>